<div class="container">

    <button class="novo-todo mat-elevation-z8" mat-stroked-button color="primary">NOVO TO-DO</button>

    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">
            <p>Data para finalizar: {{item.dataParaFinalizar}} </p>
            <mat-card-header>
                <mat-card-title>{{item.titulo}}</mat-card-title>
                <mat-card-subtitle>{{item.descricao}}</mat-card-subtitle>
            </mat-card-header>
            <div class="actions">
                <button mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
</div>